/*.xcodeproj/xcuserdata/
/*.xcodeproj/project.xcworkspace/
/*/Builds/
*~.skp
/LEDDigitalCyrWheel.xcodeproj/project.xcworkspace/xcuserdata/corbin.xcuserdatad/UserInterfaceState.xcuserstate

/LEDDigitalCyrWheel.xcodeproj/xcuserdata/corbin.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
