[submodule "Libraries/L3G_Pololu"]
	path = Libraries/L3G_Pololu
	url = https://github.com/pololu/l3g-arduino.git
[submodule "Libraries/LSM303_Pololu"]
	path = Libraries/LSM303_Pololu
	url = https://github.com/pololu/lsm303-arduino.git
[submodule "Libraries/AdaFruit_NeoPixel"]
	path = Libraries/AdaFruit_NeoPixel
	url = git@github.com:corbinstreehouse/Adafruit_NeoPixel.git
[submodule "Libraries/FastLED"]
	path = Libraries/FastLED
	url = git@github.com:corbinstreehouse/FastLED.git
[submodule "Libraries/LEDPatterns"]
	path = Libraries/LEDPatterns
	url = git@github.com:corbinstreehouse/LEDPatterns.git
[submodule "Libraries/ArduinoJson"]
	path = Libraries/ArduinoJson
	url = git@github.com:bblanchon/ArduinoJson.git
[submodule "Libraries/aJson"]
	path = Libraries/aJson
	url = git@github.com:interactive-matter/aJson.git
[submodule "Libraries/Adafruit_BluefruitLE_nRF51"]
	path = Libraries/Adafruit_BluefruitLE_nRF51
	url= git@github.com:corbinstreehouse/Adafruit_BluefruitLE_nRF51.git
[submodule "Libraries/SdFat"]
	path = Libraries/SdFat
	url = git@github.com:corbinstreehouse/SdFat.git
[submodule "Libraries/Adafruit_BNO055"]
	path = Libraries/Adafruit_BNO055
	url = https://github.com/adafruit/Adafruit_BNO055.git
[submodule "Libraries/Adafruit_Sensor"]
	path = Libraries/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor.git
